/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Atur gaya umum */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f4;
    background-image: url('images/background.jpg'); /* Tambahkan gambar latar belakang */
    background-size: cover;
}

/* Header */
header {
    position: relative;
    text-align: center;
    color: #fff;
}

.banner {
    width: 100%;
    height: auto;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 150px;
    border-radius: 50%;
    border:
